.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team-page {
  background-image: url("https://wallpaperaccess.com/full/1947580.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
