.sticky-top {
  position: sticky;
  img {
    width: 90px;
    height: 50px;
  }
  .add-btn {
    background-color: #4395d1;
    width: 125px;
  }
  .logout-btn {
    background-color: #002a5c;
    width: 100px;
  }
}
