.player-container {
  width: 25em;
  height: auto;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.75);
  border-radius: 10px;
  img {
    height: 15em;
    border-radius: 10px 10px 0px 0px;
  }
}
