.player-container {
  width: 25em;
  height: auto;
  margin: 2rem 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.75);
  border-radius: 10px;
  img {
    height: 15em;
    border-radius: 10px 10px 0px 0px;
  }
  .btn-danger {
    margin-right: .5rem;
    background-color: #d92227;
  }
  .btn-secondary {
    margin-left: .5rem;
    background-color: #9b9597;
  }
}
