.home-page {
  position: relative;
  background-color: #002a5c;
  h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 60px;
    color: #ffffff;
    padding: 10px;
  }
  .login-btn {
    position: absolute;
    margin-top: 3rem;
    margin-left: 50%;
    z-index: 2;
    .btn-danger {
      width: 100px;
      background-color: #d92227;
    }
  }
}
